
@media only screen and (max-width: 2000px) {
    .border_handler {
        grid-area: border;
        border-left-style: solid;
        border-left-color: green;
        border-width: 1px;
    }
    .page {
        display: grid;
        padding-right: 20px;
        padding-left: 20px;
        grid-template-areas: "header header"
                             "contest about";
        grid-template-columns: 5fr 2fr;
    }
    .about_header {
        grid-area: head;
        font-size: 55px;
        font-weight: 300;
        font-family: system-ui;
        align-content: center;
    }
}

@media only screen and (max-width: 950px) {
    .border_handler {
        border: none;
    }
    .page {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .about_header {
        grid-area: head;
        font-size: 55px;
        font-weight: 300;
        font-family: system-ui;
        align-content: center;
        border-top-style: solid;
        border-top-color: green;
        border-width: 1px;
    }
}


.header {
    grid-area: header;
    border-bottom: solid;
    border-bottom-color: green;
    padding: 10px;
}

.header_image {
    height: 35px;
}

.welcome {
    
}


.about {
    padding-left: 30px;
    padding-top: 10px;
    grid-area: about;
    display: grid;
    grid-template-areas:
        "trin head"
        "border text";
    grid-template-columns: 40px 1fr;
    grid-template-rows: 70px 1fr;
}


.about_text {
    grid-area: text;
    padding-right: 20px;
    font-size: 20px;
}

.contest {
    padding-top: 10px;
    grid-area: contest;
    padding-right: 10px;
    display: grid;
    grid-template-areas:
        "trin head head"
        ". content poster";
    grid-template-columns: 40px 1fr 1fr;
    grid-template-rows: 70px 1fr;
}

.contest_header {
    grid-area: head;
    padding-left: 10px;
    font-size: 55px;
    font-weight: 300;
    align-content: center;
    font-family: system-ui;
}

.contest_content {
    grid-area: content;
    padding-right: 20px;
    font-size: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.contest_poster {
    grid-area: poster;
}

.triangle {
    grid-area: trin;
    padding-top: 25px;
}

.triangle_img{
    width: 30px;
}


.button_submit {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #00650088;
    color: #f0ffff;
    border-radius: 10px;
    border-color: green;
    margin-top: 50px;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.contest_poster_img {
    padding: 20px;
}

.button_login  {
    background-color: #00386585;
    border-color: rgb(0, 4, 128);
}

