.button_submit{    
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #00650088;
    color: #f0ffff;
    border-radius: 10px;
    border-color: green;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    cursor: pointer;
}